//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	border: 2px solid #d5c9be;
border-radius: 4px;
padding: 25px 40px;
font-size: 24px;
line-height: 150%;
@media (max-width:$mobile){
	 padding-block: 15px;
	 padding-inline: 20px; 
	 font-size: 18px;
}
color: rgba(84, 85, 89, 0.7);
	caret-color: inherit;
	&::placeholder {
		color: rgba(84, 85, 89, 0.7);
	}
	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
