

.header {
	// outline: 1px solid red;
	width: 100%;
	// position: fixed;
	position: sticky;
	top: 0;
	z-index: 2;
	line-height: 150%;
	text-transform: uppercase;
	padding-block: 50px;
	background-color: transparent;
	transition: background-color 0.8s;
	background-color: #282829;
	&._header-scroll {
		background-color: #222;
	}
	@media (min-width:$tablet){
		  
		@include adaptiveValue("padding-left", 185, 0,0,1920,992);
	}
	&__container {
		display: flex;
		align-items: center;
		@media (max-width:$mobile){
			 flex-direction: column; 
		}
	}

	&__logo {
		font-size: 36px;
		letter-spacing: 0.03em;
		font-family: prata;
		@media (max-width:$mobile){
			 margin-bottom: 20px; 
		}
	}

	&__menu {
		@include adaptiveValue("margin-left", 200, 30,0,1920,992);
	}
}

.menu {

	&__icon {}

	&__body {}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 30, 20, 0, 1920, 992);
	}

	&__item {}

	&__link {
		font-style: italic;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.04em;
		position: relative;
		transition: color 0.3s;
		&::after{
			content:'';
			position: absolute;
			top: 110%;
			left: 0;
			width: 0%;
			height: 2px;
			background-color: red;
			transition: width 0.3s;
		}
		&:hover{
			color: #d3c2c2;
			&::after {
				width: 100%;
			}
		}
	}
}

.icon-menu {}